In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Womens Clothing E-Commerce Reviews.csv") # wczytanie pliku z danymi
df.head() # wypisanie części pliki w postaci tabeli

,Unnamed: 0,Clothing ID,Age,Title,Review Text,Rating,Recommended IND,Positive Feedback Count,Division Name,Department Name,Class Name
0,0,767,33,NaN,Absolutely wonderful - silky and sexy and comf...,4,1,0,Initmates,Intimate,Intimates
1,1,1080,34,NaN,Love this dress! it's sooo pretty. i happene...,5,1,4,General,Dresses,Dresses
2,2,1077,60,Some major design flaws,I had such high hopes for this dress and reall...,3,0,0,General,Dresses,Dresses
3,3,1049,50,My favorite buy!,"I love, love, love this jumpsuit. it's fun, fl...",5,1,0,General Petite,Bottoms,Pants
4,4,847,47,Flattering shirt,This shirt is very flattering to all due to th...,5,1,6,General,Tops,Blouses

In [3]:
df1=pd.DataFrame()
df1["Age"] = (df["Age"])>40 #wybranie wszystkich rekordów, w których respondent ma mniej niż 30 lat
df1["Recommend"] = (df["Recommended IND"])>0 #wybranie wszystkich rekordów z rekomendacją produktu
df1.head()

     Age  Recommend
0  False       True
1  False       True
2   True      False
3   True       True
4   True       True

In [4]:
T = df1.describe() # podsumowanie utworzonej tabelki i zapisanie jej do zmiennej T
T

          Age Recommend
count   23486     23486
unique      2         2
top      True      True
freq    12236     19314

In [5]:
N = T.loc["count"][0] #N = 23486
Nrec = sum(df1["Recommend"]) # liczba respondentów rekomendujących produkt
Nrat = sum(df1["Age"]) # liczba respondentów mających więcej niż 40 lat
Nrecrat = sum( (df1["Recommend"]) & (df1["Age"])) # liczba respondentów rekomendujących produkt i mających więcej niż 40 lat

In [6]:
Nrecrat = sum( (df1["Recommend"]) & (df1["Age"])) 
Nr = sum((df1["Recommend"]==True) & (df1["Age"]>40)) #respondenci polecający produkt i mający więcej niż 40 lat
Nnr = sum((df1["Recommend"]==False) & (df1["Age"]>40)) #respondenci niepolecający produktu i mający więcej niż 40 lat

In [7]:
pd.crosstab(df1["Recommend"], df1["Age"])

Age        False  True
Recommend
False       2092   2080
True        9158  10156

In [8]:
#prawdopodobieństwo, że respondent ma więcej niż 40 lat
P1 = (2080 + 10156)/N
P1

0.5209912288171676

In [9]:
# prawdopodobieństwo polecenia produktu pod warunkiem, że respondent ma mniej niż 30 lat
P2 = 10156/(2080 + 10156)
P2

0.830009807126512