In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Womens Clothing E-Commerce Reviews.csv") # wczytanie pliku z danymi
df.head() # wypisanie części pliki w postaci tabeli

,Unnamed: 0,Clothing ID,Age,Title,Review Text,Rating,Recommended IND,Positive Feedback Count,Division Name,Department Name,Class Name
0,0,767,33,NaN,Absolutely wonderful - silky and sexy and comf...,4,1,0,Initmates,Intimate,Intimates
1,1,1080,34,NaN,Love this dress! it's sooo pretty. i happene...,5,1,4,General,Dresses,Dresses
2,2,1077,60,Some major design flaws,I had such high hopes for this dress and reall...,3,0,0,General,Dresses,Dresses
3,3,1049,50,My favorite buy!,"I love, love, love this jumpsuit. it's fun, fl...",5,1,0,General Petite,Bottoms,Pants
4,4,847,47,Flattering shirt,This shirt is very flattering to all due to th...,5,1,6,General,Tops,Blouses

In [3]:
df1=pd.DataFrame()
df1["Rating"] = (df["Rating"])<=3 #wybranie wszystkich rekordów, w których rating jest większy niż 3
df1["Recommended"] = (df["Recommended IND"])>0 #wybranie wszystkich rekordów z rekomendacją produktu
df1.head()

   Rating  Recommended
0   False         True
1   False         True
2    True        False
3   False         True
4   False         True

In [4]:
T = df1.describe() # podsumowanie utworzonej tabelki i zapisanie jej do zmiennej T
T

       Rating Recommended
count   23486       23486
unique      2           2
top     False        True
freq    18208       19314

In [8]:
N = T.loc["count"][0] #N = 23486
Nrec = sum(df1["Recommended"]) # liczba respondentów rekomendujących produkt
Nrat = sum(df1["Rating"]) # liczba respondentów, oceniających produkty <= 3
Nrecrat = sum( (df1["Recommended"]) & (df1["Rating"])) # liczba respondentów rekomendujących produkt i oceniających go na <= 3

In [9]:
Nrecrat = sum( (df1["Recommended"]) & (df1["Rating"])) # liczba respondentów rekomendujących produkt i oceniających go na <= 3
Nr = sum((df1["Recommended"]==True) & (df1["Rating"]>3)) #respondenci polecający produkt i oceniający go na <= 3
Nnr = sum((df1["Recommended"]==False) & (df1["Rating"]>3)) #respondenci niepolecający produktu i oceniający go na <= 3

In [10]:
pd.crosstab(df1["Recommended"], df1["Rating"])

Rating       False  True
Recommended
False          193   3979
True         18015   1299

In [11]:
#prawdopodobieństwo wystawienia oceny <=3
P1 = (3979 + 1299)/N
P1

0.22472962616026568

In [12]:
# prawdopodobieństwo polecenia produktu pod warunkiem wystawienia oceny <= 3
P2 = 1299/(3979 + 1299)
P2

0.24611595301250475